.root {
  display: grid;
  grid-template-columns: 2fr 10fr;
  min-height: 100vh;

  &.active {
    grid-template-columns: 60px 10fr;
  }
}
.main {
  position: relative;
}
.outlet {
  padding: 20px;
  padding-top: 80px;
  background-color: #f5f5f5;
  min-height: 100vh;
}
